/*all var(--scrollY) / num, numberes were found through 
trial and error an look nice on screen but not in code*/

.mainTitle {
	font-family: var(--titleFont);
	font-size: calc(11.5vw - var(--scrollY)/2);
	color: var(--mainFontColor);
}
.surnameTitle {
	font-family: var(--titleFont);
	font-size: calc(3vw - var(--scrollY) / 9);
	color: var(--smallTextColor);
	position: relative;
	left: 0.5vw;
	top: calc(-3.5vw + var(--scrollY) /20);
	letter-spacing: calc(5.1vw - var(--scrollY)/4.2);
}
.afterSlash {
	font-family: var(--titleFont);
	color: var(--mainFontColor);
	position: relative;
	font-size: calc(14vw - var(--scrollY)/1.8);
	left: 5vw;
}
.titleWrapper {
	display: flex;
	flex-direction: row;
}
.titleContainer {
	padding: 1vw 0 0 2vw;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	width: 100dvw;
	height: calc(21vw - var(--scrollY));
	background: linear-gradient(
		180deg,
		rgba(20 20 20 / 1) 0%,
		rgba(20 20 20 / 1) 75%,
		rgba(20 20 20 / 0.9) 85%,
		rgba(20 20 20 / 0.7) 92%,
		rgba(20, 20, 20, 0.5) 95%,
		rgba(0, 0, 0, 0) 100%
	);
}
.slash {
	width: 1vw;
	height: calc(15vw - var(--scrollY)/1.8);
	max-width: 10px;
	max-height: 150px;
	background: linear-gradient(
		180deg,
		rgba(20 20 20 /0),
		rgb(235 235 235 /0.8),
		rgba(235 235 235 /1),
		rgb(235 235 235 /0.8),
		rgba(20 20 20 /0)
	);
	position: relative;
	left: 3.5vw;
	transform: skew(-30deg);
}

@media screen and (min-width: 1000px) {
	.mainTitle {
		font-size: calc(120px - var(--scrollY) * 0.9);
	}
	.slash {
		left: 35px;
		height: calc(150px - var(--scrollY));
	}
	.afterSlash {
		position: relative;
		left: 50px;
		font-size: calc(150px - var(--scrollY));
		top: -6px;
	}
	.surnameTitle {
		font-size: calc(30px - var(--scrollY) / 5);
		left: 5px;
		top: calc(-35px + var(--scrollY) / 10);
		letter-spacing: calc(55px - var(--scrollY) / 2.25);
	}
	.titleContainer {
		padding: 10px 0 0 20px;
		height: calc(210px - var(--scrollY) * 1.5);
	}
}
@media screen and (max-width: 500px) {
	.titleContainer {
		height: 25vw; /*doesn't shrink since at that scale theres no point */
        padding:2vw 0 0 5vw;
        /*lil bigger since nav now goes under*/
	}
	.slash {
		top: 6px;
		height: 15vw;
	}
	.mainTitle {
		position: relative;
		font-size: 11.5vw;
		top: 6px;
	}
	.surnameTitle {
		font-size: 3vw;
		top: -3.5vw;
		letter-spacing: 5.1vw;
		top: -2.5vw;
	}
	.afterSlash {
		font-size: 14vw;
		top: 6px;
	}
}

/*for really small width screens */
@media screen and (max-width: 300px) {
	.titleContainer {
		padding: 5px 0 0 5px;
	}
	.titleContainer .afterSlash {
		position: relative;
		top: 4px;
	}
	.surnameTitle {
		position: relative;
		top: -2vw;
	}
}